<div class="text-center mb-5">
  <%= image_tag 'logo_transparent.png', alt: "Captuvate Logo", style: "height: 48px;" %>
  <div class="mt-2">
    <p class="text-muted small mb-0">Resend confirmation instructions</p>
  </div>
</div>

<%= form_with model: resource, url: confirmation_path(resource_name), local: true do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, class: "form-control rounded-3 px-3 py-2" %>
  </div>

  <div class="d-grid mb-3">
    <%= f.submit "Resend", class: "btn btn-custom-primary py-2" %>
  </div>
<% end %>
