<div class="text-center mb-5">
  <%= image_tag 'logo_transparent.png', alt: "Captuvate Logo", style: "height: 48px;" %>
  <div class="mt-2">
    <p class="text-muted">Create your account</p>
  </div>
</div>

<%= form_with model: resource, url: registration_path(resource_name), local: true do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="mb-5">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="d-grid mb-3">
    <%= f.submit "Sign up", class: "btn btn-custom-primary" %>
  </div>

  <div class="text-center">
    <small>Already have an account? <%= link_to "Sign in", new_session_path(resource_name), class: "text-decoration-none text-primary" %></small>
  </div>
<% end %>
