<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Upload a CSV</h2>
        </div>
        <div class="card-body">
          <%= form_with url: admin_domain_uploader_path, local: true, multipart: true, html: { class: "needs-validation" } do |form| %>
            
            <div class="mb-3">
              <%= form.label :user_id, "Select a User", class: "form-label" %>
              <%= form.collection_select :user_id, User.all, :id, :email, { prompt: "Choose a user" }, class: "form-select", required: true %>
            </div>

            <div class="mb-3">
              <%= form.label :csv_file, "Choose CSV File", class: "form-label" %>
              <%= form.file_field :csv_file, accept: '.csv', class: "form-control", required: true %>
            </div>

            <div class="d-grid">
              <%= form.submit "Upload CSV", class: "btn btn-primary" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
