<div class="row">

  <%= render "side_bar" %>
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <div class="d-flex">
        <%= link_to public_send("domain_#{@snap_shot.format}_path", @snap_shot.domain), class: "text-decoration-none", style: "all: unset; cursor: pointer;" do %>
          <%= icon "arrow-left-end-on-rectangle", style: "width: 2em;", class: "me-2" %>
        <% end %>
        <div class="h4 ms-auto">
          Capture taken: <%= "#{@snap_shot.created_at.strftime("%B %d, %Y at %I:%M%P")}" %>
        </div>
      </div>

      <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Display Full Screen
        </button>
      </div>

    </div>

    <div class="row">
      <div class="col-md-8 pb-5">
        <div class="card" style="width: 100%;">
          <%= image_tag @snap_shot.screen_shot %>
        </div>  
      </div>

      <div class="col-md-4">
        <div class="card sticky-top mb-2" style="width: 100%;">
          <%= form_with(url: comments_path, local: true) do |f| %>
            <div class="mb-3">
              <%= f.label :content, "Your Comment" %>
              <%= f.text_area :content, class: "form-control", rows: 3 %>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :snap_shot_id, value: @snap_shot.id %>
            <%= f.submit "Add Comment", class: "btn btn-primary" %>
          <% end %>
        </div>
        <% @comments.each do |comment| %>
          <div class="card mb-2">
            <div class="card-body">
              <%= comment.content %>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
    
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  </main>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= image_tag @snap_shot.screen_shot, class: "img-fluid" %>
      </div>
    </div>
  </div>
</div>
