<div class="row">

  <%= render "side_bar" %>
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <div class="d-flex">
        <%= link_to domains_path, class: "text-decoration-none", style: "all: unset; cursor: pointer;" do %>
          <%= icon "arrow-left-end-on-rectangle", style: "width: 2em;", class: "me-2" %>
        <% end %>
        <div class="h4 ms-auto">
          <%= @domain.url %>
        </div>
      </div>
      
      <div class="">
        <div class="btn-toolbar mb-2 mb-md-0">
          <%= button_to 'Edit', edit_domain_path, method: :get, class: 'btn btn-secondary' %>
        </div>
      </div>
      
       
    </div>
    <% @domain.snap_shots.order(created_at: :desc).each do |snap_shot| %>
      <div class="row">
        <div class="col-md-12 pb-3">
          <div class="card p-2">

            <div class="row">
              <div class="col-md-4">
                <% if snap_shot.screen_shot.present? %>
                  <div class="capture-image-container h-100">
                    <%= link_to image_tag(snap_shot.screen_shot, class: "card-img-top capture-image"), snap_shots_path(snap_shot) %>
                  </div>
                <% end %>                  
              </div>
              <div class="col-md-4">
                <p><%= icon "calendar-days", style: "width: 2em;" %> Captured: <%= "#{snap_shot.created_at.strftime("%B %d, %Y at %I:%M%P")}" %> </p>
              </div>          
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  </main>
</div>
