<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body  class="d-flex flex-column min-vh-100">
    <%= render "navbar" %>

    <div class="d-flex flex-grow-1" style="height: calc(100vh - 64px);">
      <%= render 'layouts/sidebar_nav' %>
  
      <main class="flex-grow-1 overflow-auto px-4 py-4">
        <%= render 'flash' %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>