<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "navbar" %>

    <%= flash_message(:notice) %>
    <%= flash_message(:alert) %>
    <%= flash_message(:error) %>

    <div class="d-flex flex-grow-1" style="height: calc(100vh - 64px);">
      <aside class="sidebar bg-white border-end h-100 px-3 py-4">
        <nav class="nav flex-column">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        </nav>
      </aside>

      <main class="flex-grow-1 overflow-auto px-4 py-4">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
